<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/posts" method="POST">
      <input placeholder="your name" name="name" />
      <input placeholder="your content" name="content" />
      <button type="submit">submit</button>
    </form>
  </body>
</html>
